*{
    box-sizing: inherit;
}
:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #ffce3e;
    --sort-bar-height: 46px;
}
html{
    /*1rem = 10px*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.gird__column-2-lg{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
@keyframes fadeIn{
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
}@keyframes growth{
    0%{
       transform: scale(var(--growth-from));
    }
    100%{
       transform: scale(var(--growth-to));
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn ease-in .5s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal__body{
    --grow-from: 0.7;
    --grow-to: 1;
    margin: auto;
    position: relative;
    animation: growth linear .2s;
}
.btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: 0;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0 12px;
    color: var(--text-color);
    transition: .5s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn.btn--normal:hover{
    background-color: #ccc;
}
.btn.btn--sm{
    height: 30px;
    font-size: 1.2rem;
    padding: 0 8px;
}
.btn.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.select-input{
    min-width: 200px;
    padding: 0 12px;
    background-color: var(--white-color);
    height: 30px;
    border-radius: 2px;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.select-input__label{
    font-size: 1.2rem;
    color: var(--text-color);
}
.select-input__icon{
    font-size: 1.4rem;
    color: var(--text-color);
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 14px;
    list-style: none;
    display: none;
    animation: fadeIn ease-in .3s;
}
.select-input__list::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    background-color: transparent;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 8px 0;
    display: block;
    transition: .5s;
}
.select-input__link:hover{
    color: var(--primary-color);
}